/* --------------------------------------------------------------------------
 * >>> Skeleton :
 * -------------------------------------------------------------------------- */

body {
  box-sizing: border-box;
  font-weight: 400;
  font-family: $mainFont;  
  color: $mainFontColor;
  background: #233148;
}
.site-content {
  overflow: hidden;
}
h1,h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: #FFFFFF;

  @include md-up {
    font-size: 48px;
    line-height: 58px;
  }
}
h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;

  @include md-up {
    font-size: 32px;
    line-height: 39px;
  }
}

section {
}

.container{
  position: relative;
  max-width: 100%;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;

  @include ml-up {
    max-width: 425px;
  }

  @include sm-up {
    max-width: 540px;
  }

  @include md-up {
    max-width: 720px;
    padding: 0 0;
  }

  @include ltm-up {
    max-width: 1170px;
  }

}

.bg_grid__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 30px;
  // z-index: -1;
  // opacity: .2;

  @include md-up {
    margin: 0 0;
  }
  .grid_line {
    position: absolute;
    height: 100%;
    border: 1px solid #D9DFE6;
    opacity: .2;
  }
  .grid__line-1 {
    left: 0%;
  }
  .grid__line-2 {
    left: 50%;
  }
  .grid__line-3 {
    left: 100%;
  }
}