/* --------------------------------------------------------------------------
 * >>> Variables :
 * -------------------------------------------------------------------------- */
// Fonts
$mainFont: 'ProximaNova';

// Animations
$fastAnim: all 0.5s ease;
$slowAnim: all 1s ease;

// Colors
$white: #ffffff;
$black: #000000;

$mainFontColor: #404040;