//---------------------------------------------------------------------------
  >>> index Page :
  ---------------------------------------------------------------------------
extends ./template/main

block variables
  - let pageTitle = 'index page';
  - let padeDescription = pageTitle + 'index description';

block content
  
  section.section__first_screen
    .container
      h1.wow.fadeIn(data-wow-delay=".6s")
        <svg class="title_vector" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.0557 22.5792L22.1114 16.1158L27.6393 12.8842V0L22.1114 3.23167L11.0557 9.65249V9.69501L0 16.1158V29L11.0557 22.5792Z" fill="#1F65D9"/></svg>
        | something<br>AS A SERVICE
      .something_list__wrapper
        article.something_list__item.wow.fadeInUp(data-wow-delay="0.8s")
          .something_list__item-icon
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M45.1455 43.5382L43.0655 41.6473C44.8145 39.7091 46.2327 37.5818 47.2255 35.3127L49.8255 36.4473C48.6909 39 47.1309 41.3636 45.1455 43.5382ZM52 26C52 11.6764 40.3236 0 26 0C24.0618 0 22.1709 0.189091 20.3745 0.614545L20.9891 3.40364C22.5964 3.02545 24.2982 2.83636 26 2.83636C38.7636 2.83636 49.1636 13.2364 49.1636 26C49.1636 27.1818 49.0691 28.3164 48.88 29.3564L51.6691 29.8291C51.9055 28.6473 52 27.3236 52 26ZM8.13091 11.2036L5.90909 9.40727C5.2 10.3055 4.63273 11.0618 4.11273 11.8655L6.47636 13.4255C6.99636 12.7164 7.51636 12.0073 8.13091 11.2036ZM33.6109 50.8655L32.76 48.1709C30.5855 48.8327 28.3164 49.2109 26 49.2109C13.2364 49.1636 2.83636 38.7636 2.83636 26C2.83636 23.6364 3.16727 21.32 3.87636 19.0982L1.18182 18.2473C0.378182 20.7527 0 23.3527 0 26C0 40.3236 11.6764 52 26 52C28.6 52 31.1527 51.6218 33.6109 50.8655ZM26 9.78545C28.8836 9.78545 31.6727 10.5418 34.1309 11.96L35.5491 9.50182C32.6655 7.84727 29.3564 6.94909 26 6.94909C15.5055 6.94909 6.94909 15.5055 6.94909 26H9.78545C9.78545 17.0655 17.0655 9.78545 26 9.78545ZM14.7491 37.6764C13.8982 36.8727 13.1891 36.0218 12.6218 35.1236L10.2109 36.6364C10.92 37.7236 11.7709 38.7636 12.8109 39.7564L14.7491 37.6764ZM45.0509 26H42.2145C42.2145 34.9345 34.9345 42.2145 26 42.2145C23.1164 42.2145 20.3273 41.4582 17.8691 40.04L16.4509 42.4982C19.3345 44.1527 22.6436 45.0509 26 45.0509C36.4945 45.0509 45.0509 36.4945 45.0509 26ZM41.7891 15.3636C41.1273 14.2764 40.2291 13.2364 39.2364 12.2436L37.2982 14.3236C38.1491 15.1273 38.8582 15.9782 39.4255 16.8764L41.7891 15.3636ZM35.2182 31.3418V20.6582L26 15.2691L16.7818 20.6582V31.3891L26 36.7309L35.2182 31.3418ZM19.6182 22.2655L26 18.5782L32.3818 22.3127V29.7345L26 33.4218L19.6182 29.6873V22.2655Z" fill="#1F65D9"/></svg>
          h3.something_list__item-title Digital identity
          .something_list__item-caption Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        article.something_list__item.wow.fadeInUp(data-wow-delay="0.8s")
          .something_list__item-icon
            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.83379 45.1208H0V31.802H11.9964V34.6358H2.83379V45.1208ZM13.4133 37.2807H10.5795V51.1662H1.41689V54H13.4133V37.2807ZM32.069 2H18.6558V34.3524H21.4896V4.83379H29.2352V51.1662H20.0727V54H32.069V2ZM21.4896 37.2807H18.6558V40.3978H21.4896V37.2807ZM51.2443 44.5068H48.4105V51.1662H40.6648V48.5686H37.8311V54H51.2443V44.5068ZM40.6648 21.9782H48.4105V38.1308H51.2443V19.1444H37.8311V45.1208H40.6648V21.9782Z" fill="#1F65D9"/></svg>
          h3.something_list__item-title Trust Score
          .something_list__item-caption Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        article.something_list__item.wow.fadeInUp(data-wow-delay="1.2s")
          .something_list__item-icon
            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M44.8358 42.871L53.8522 32.1794L44.4416 6.71402L17.4909 2L0 22.7514L9.45985 48.1682L36.3613 52.9308L42.9635 45.1065L51.9307 54L54 51.9589L44.8358 42.871ZM42.7664 40.7813L38.0858 36.1645C41.042 32.471 42.0766 27.3682 40.3029 22.6056L37.5438 23.6262C39.6624 29.3607 36.6569 35.7757 30.7938 37.914C28.8723 38.5944 26.9015 38.7888 24.9799 38.4486L24.438 41.3159C25.2263 41.4617 26.0639 41.5589 26.9015 41.5589C28.5766 41.5589 30.2518 41.2673 31.8285 40.6841C33.4051 40.1009 34.8339 39.2748 36.0657 38.2542L40.8942 43.0168L35.1788 49.772L11.6277 45.5925L3.35036 23.3346L18.6734 5.15888L42.2737 9.28972L50.5018 31.5963L42.7664 40.7813ZM22.3686 37.6224L21.2354 40.2953C20.3485 39.9551 19.5109 39.4692 18.6241 38.8374L20.3485 36.5047C21.0383 36.9907 21.6788 37.3308 22.3686 37.6224ZM29.4635 13.5664L28.9215 16.4336C27 16.0935 24.9799 16.2879 23.1077 16.9682C17.2445 19.1065 14.2391 25.5215 16.3577 31.3047L13.5985 32.3252C10.8394 25.0355 14.6825 16.9196 22.073 14.2467C24.4872 13.372 27 13.129 29.4635 13.5664ZM35.2774 16.0449L33.5037 18.4262C32.8139 17.9402 32.1734 17.5514 31.4836 17.2598L32.6168 14.5869C33.5529 14.9271 34.3905 15.4131 35.2774 16.0449Z" fill="#1F65D9"/></svg>
          h3.something_list__item-title Search engine
          .something_list__item-caption Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        article.something_list__item.wow.fadeInUp(data-wow-delay="1.2s")
          .something_list__item-icon
            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2_253)"><path d="M25.2679 43.6567C22.6231 43.6567 20.0254 43.0427 17.6167 41.7675C15.0191 40.3978 12.7993 38.4142 11.2407 35.911L13.6494 34.3996C14.9246 36.4305 16.7666 38.1308 18.8919 39.2171C22.1508 40.9173 25.9292 41.248 29.4242 40.1617C32.9664 39.0754 35.8002 36.6667 37.5005 33.3606L40.0036 34.683C37.9728 38.6031 34.4777 41.5313 30.2271 42.8538C28.6685 43.3733 26.9682 43.6567 25.2679 43.6567ZM19.2225 19.6639H16.3887V22.7811H19.2225V19.6639ZM33.3442 19.6639H30.5104V22.7811H33.3442V19.6639ZM9.91826 45.0263C7.93461 43.2316 6.28156 41.059 5.00636 38.6031L2.50318 39.9255C3.92007 42.6648 5.76203 45.0736 7.98183 47.1044L9.91826 45.0263ZM43.782 46.5849C48.6467 41.8147 51.4332 35.3915 51.5749 28.5904L48.7411 28.5431C48.4578 41.0118 38.1144 51.2134 25.5985 51.2134C22.3869 51.2134 19.2698 50.5522 16.2943 49.277L15.1608 51.8747C18.5141 53.3388 22.0091 54.0945 25.5985 54.0945C32.4469 54 38.9173 51.3551 43.782 46.5849ZM46.7575 12.9101C46.1435 12.0127 45.4351 11.1153 44.5377 10.1708L42.5068 12.1544C43.2625 12.9573 43.9237 13.7602 44.4432 14.5159L46.7575 12.9101ZM39.4841 6.06176C38.0672 5.1644 36.8865 4.55041 35.6585 4.07811L34.5722 6.72298C35.6113 7.14805 36.6976 7.7148 37.9255 8.51771L39.4841 6.06176ZM25.6458 4.83379C27.6767 4.83379 29.6603 5.06994 31.5495 5.58946L32.258 2.85014C30.1326 2.28338 27.8656 2 25.6458 2C12.8465 2 2.07811 11.1153 0 23.6312L2.78656 24.1035C4.67575 12.9573 14.2634 4.83379 25.6458 4.83379Z" fill="#1F65D9"/></g><defs><clipPath id="clip0_2_253"><rect width="54" height="54" fill="white"/></clipPath></defs></svg>
          h3.something_list__item-title User friendly
          .something_list__item-caption Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .bg_grid__inner
        .grid_line.grid__line-1
        .grid_line.grid__line-2
        .grid_line.grid__line-3
        <svg class="image-bg" width="585" height="682" viewBox="0 0 585 682" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_3_75)"><path opacity="0.02" d="M584.625 397.74V511.219L487.25 568.146L389.875 625.073L341.187 653.537L292.5 682L243.812 653.537L195.125 625.073L97.7496 568.146L0 511.219V397.74L97.3751 341.187V454.667L194.75 511.594L243.438 540.057L292.125 568.521L340.813 540.057L389.5 511.594L486.875 454.667V340.813L584.625 397.74ZM584.25 170.406L486.875 113.479L389.5 56.5524L340.813 28.4635L292.125 0L243.438 28.4635L194.75 56.927L97.3751 113.479L0 170.406V283.886L97.3751 227.333L194.75 170.406L243.438 142.317V426.203L292.125 454.667L340.813 426.203V141.943L389.5 170.406L486.875 227.333L584.25 284.26V170.406Z" fill="white"/></g><defs><clipPath id="clip0_3_75"><rect width="584.625" height="682" fill="white"/></clipPath></defs></svg>
  
  section.section__lightpaper
    .container
      .lightpaper_content__wrapper.wow.fadeInUp(data-wow-delay="0.8s")
        img.lightpaper-book-img(src='images/book-image.png' alt='lightpaper-book')
        .lightpaper_content__info
          h3.content__info-title OUR<br>LIGHTPAPER
          .content__info-caption Team is currently working on all its documents.
        a.lightpaper-btn(href="#") download


  section.section__second_screen
    .container
      h1.wow.fadeIn(data-wow-delay=".6s")
        <svg class="title_vector" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.0557 22.5792L22.1114 16.1158L27.6393 12.8842V0L22.1114 3.23167L11.0557 9.65249V9.69501L0 16.1158V29L11.0557 22.5792Z" fill="#1F65D9"/></svg>
        | something<br>AS A SERVICE
      .bg_grid__inner
        .grid_line.grid__line-1
        .grid_line.grid__line-2
        .grid_line.grid__line-3